@import "tailwindcss";

@keyframes slideUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}
